<% provide(:title, "Login") %>
<h1 class="page-title">Sign In</h1>

<div id="login-form">
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>
    <div class="actions">
      <%= f.submit "Login" %>
    <% end %>
    </div>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
