<% provide(:title, 'Sign up') %>
<h1 class="title">Sign Up</h1>

<div class="row">
    <%= form_for(@user) do |f| %>
        <div class="group-field">
          <%= f.text_field :firstname, required: true, placeholder: "Firstname" %>
          <%= f.text_field :lastname, required: true, placeholder: "Lastname" %>
        </div>
        <div class="field">
          <%= f.email_field :email, required: true, placeholder: "Email" %>
        </div>
        <div class="field">
          <%= f.text_field :description, placeholder: "Description" %>
        </div>
        <div class="group-field">
          <%= f.password_field :password, required: true, placeholder: "Password" %>
          <%= f.password_field :password_confirmation, required: true, placeholder: "Repeat Password" %>
        </div>
        <div class="actions">
          <%= f.submit "Create my account", class: "user-btn"%>
        </div>
        <% end %>
</div>
