<% provide(:title, @user.firstname) %>

<div id="user-information">
  <div class="user-board">
    <div id="user-pic">
      <%= image_tag @user.avatar.url(:medium), class: "img-circle"%>
    </div>
    <div id="user-title">
      <%= @user.fullname %>
    </div>
    <div>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </div>
    <div id="user-follow-btn" class="btn" value="<%= @value %>">
      <%= following_button(@user) %>
    </div>
  </div>
  <div id="user-attributes">
    <div class="user_data">Biography: <%= @user.description %></div>
    <div class="user_data">Contact: <%= mail_to @user.email %></div>
    <div class="user_data">Collected from projects: <%= number_to_currency(@user.wallet, :precision => 0) %></div>
    <div class="user_data">Birthdate: <%= @user.birthdate.strftime('%v') %></div>
  </div>
</div>
<section class="user-project-container">
  <div class= "user-projects">
    <h2> Created by <%= @user.fullname%></h2>
    <div class='project-grid-container'>
      <div class='project-grid'>
        <% @user.projects.each do |project|%>
          <%= render 'projects/preview', project: project %>
        <% end%>
      </div>
    </div>
  </div>
  <div class= "user-projects">
    <h2> Supported by <%= @user.fullname%></h2>
    <div class='project-grid-container'>
      <div class='project-grid'>
        <% @funded.each do |project|%>
          <%= render 'projects/preview', project: project %>
        <% end%>
      </div>
    </div>
  </div>
</section>
