<% provide(:title, @user.firstname) %>

  <div id="user-pic">
    <%#= gravatar_for @user, 150 %>
    <%= image_tag @user.avatar.url(:medium), class: "img-circle"%>
  </div>
  <div id="user-title">
    <%= @user.fullname %>
  </div>
  <div>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </div>
  <div>
    <% if logged_in?%>
      <% if current_user.following?(@user) %>
        <%= render 'shared/unfollow' %>
      <% elsif current_user.id != @user.id %>
        <%= render 'shared/follow' %>
      <% end %>
    <% end %>
  </div>
  <% if !@user.description.blank?%>
    <div class="user_data">Biography: <%= @user.description %></div>
  <% else %>
    <div class="user_data">Biography Not Available</div>
  <% end %>
  <div class="user_data">Contact: <%= @user.email %></div>
  <%# if @user.wallet > 0%>
    <div class="user_data">Collected from projects: <%= @user.wallet %></div>
  <%#end%>

  <% if !@user.birthdate.blank?%>
    <div class="user_data">Birthdate: <%= @user.birthdate %></div>
  <% end %>
  <% if logged_in? && @user == current_user%>
    <div>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
  </div>
  <% end %>
