<div class="navbar-container">
  <ul class="navbar navbar-left">
    <li id="brand"><%= link_to "DreamFunder", root_path, {:class => "wide " + active_class('welcome', 'index')}%></li>
    <li><%= link_to "Users", users_path, {:class => "wide " + active_class('users', 'index')}%></li>
  </ul>
  <ul class="navbar navbar-right">
    <% if logged_in? %>
      <%ide = current_user.id%>
      <li class="nav-right"><%= link_to "Log out", logout_path, {:class => "wide", method: :delete}%></li>
      <li class="nav-right"><%= link_to "Profile", current_user, {:class => "wide " + active_class('users', 'show', ide)}%></li>
    <% else %>
      <li class="nav-right"><%= link_to "Signup", signup_path, {:class => "wide " + active_class('users', 'new')}%></li>
      <li class="nav-right"><%= link_to "Login", login_path, {:class => "wide " + active_class('sessions', 'new')}%></li>
    <% end %>
  </ul>
</div>
