<%= form_for(donation) do |f| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :project_id, :value => project.id %>
  </div>

  <div class="field">
    <%= f.number_field :amount, min: '1', required: true,  placeholder: "Donation Amount"%>
  </div>

  <div class="actions">
    <%= f.submit "Make Donation", class: "create-btn"%>
  </div>
<% end %>
