<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
    <div class="field">
      <%= f.text_field :brief, required: true, placeholder: "Project Title" %>
    </div>
    <div class="field">
      <%= f.text_area :description, placeholder: "Description" %>
    </div>
    <div class="field">
      <%= f.text_field :funding_goal, required: true, placeholder: "Funding Goal"%>
    </div>
    <div class="group-field">
      <div class="category-field">
        <div class="field-title">
          Category
        </div>
        <div class="category-select">
          <%= f.collection_select :category_ids, Category.all, :id, :name%>
        </div>
      </div>
      <div class="date-field">
        <div class="field-title">
          Limit Date
        </div>
        <div class="date-select">
          <%= f.date_select :funding_duration, order: [:day, :month, :year], start_year: min_date.year, default: min_date , required: true %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Create Project" %>
    </div>
  <% end %>
</div>
