<%= form_for project, html: { :multipart => true } do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row form-container">
    <div class="field">
      <%= f.text_field :brief, required: true, placeholder: "Project Title", :disabled => true %>
    </div>
    <div class="field">
      <%= f.text_area :description, placeholder: "Description" %>
    </div>
    <div class="group-field">
      <div class="category-field">
        <div class="field-title">
          Category
        </div>
        <div class="category-select">
          <%#= f.collection_check_boxes(:category_ids, Category.all, :id, :name,
          {:selected => @project.category_ids, :include_blank => false}, {:multiple => true}) %>
          <%index = 1%>
          <% Category.all.each do |cat| %>
            <div class= "category-option">
              <%= gen_input(index, cat, @categories).html_safe %>
              <%= gen_label(index, cat.name).html_safe %>
              <% index += 1%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="date-field">
        <div class="field-title">
          Limit Date
        </div>
        <div class="date-select">
          <%= f.date_select :funding_duration, order: [:day, :month, :year], default: project.funding_duration, :disabled => true %>
        </div>
      </div>
    </div>
    <div class="picture-field">
      <%#= f.file_field "images[]", type: :file, multiple: true, accept: 'image/jpeg, image/jpg, image/gif, image/png' %>
      <%= f.fields_for :images do |builder| %>
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      <% end %>
      <%#= f.file_field "images[]", type: :file, multiple: true %>
    </div>
    <div class="actions">
      <%= f.submit "Save Project", class: "create-btn" %>
      <div class="delete-btn">
        <%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "project-delete-btn" %>
      </div>
    </div>
  <% end %>
</div>
