<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Lobster|Bad+Script|Didact+Gothic|Julius+Sans+One|Kalam|Oleo+Script|Sarala|Shadows+Into+Light+Two|Open+Sans|Lato');
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'shared/navbar' %>
    </header>
    <main class="flexbox-container">
      <%= yield %>
    </main>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
